body {
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.heroContainer {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.heroCitiesContainer {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.cardsContainer {
    width: 80vw;
}

.carrusel-item {
    width: 100vw;
}

.carousel {
  background: #EEE;
  min-height: 500px;
}
 
.carousel-cell {
width: 66%;
min-height: 500px;
}

.image-city-slider {
    background-size: cover;
    background-position: center;
}

.logo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .logo {
        width: 0px;
        height: 0px;
    }
}

.lobster {
    font-family: 'Lobster', cursive;
}

.icon-media {
    width: 25px;
    height: 25px;
}

.navResponsive {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50vh;
    width: 100vw;
    opacity: 0.9;
}

#user-icon-image{
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
}