body {
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.heroContainer {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.v85 {
    height: 85vh;
}

.w40p {
    width: 40px;
}

.v80 {
    height: 80vh;
}

.v15 {
    height: 15vh;
}

.v10 {
    height: 10vh;
}

.v40 {
    height: 40vh;
}

.v50 {
    height: 50vh;
}

.h50 {
    height: 50%;
}

.bgCover {
    background-size: cover;
}

.bgCenter {
    background-position: center;
}

.h75 {
    height: 75%;
}

.heroCitiesContainer {
    width: 100%;
    background-size: cover;
    height: 70vh;
}

.cardsContainer {
    width: 80vw;
}

.carrusel-item {
    width: 100vw;
}

.carousel {
  background: #EEE;
  min-height: 500px;
}
 
.carousel-cell {
width: 90%;
min-height: 700px;
}

.bg-opacity-90 {
    opacity: 0.9;
}

.image-city-slider {
    background-size: cover;
    background-position: center;
}

.logo {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .logo {
        width: 0px;
        height: 0px;
    }
    .carousel-cell {
        width: 90%;
        height: 350px;
    }
}

.lobster {
    font-family: 'Lobster', cursive;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.icon-media {
    width: 25px;
    height: 25px;
}

.navResponsive {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50vh;
    width: 100vw;
    opacity: 0.9;
}

#user-icon-image{
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
}
